.flights_list-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    width: 150rem;
    .flights_list-content{
        border: 1px solid $lt-grey;
        padding: 2rem;
    }
}

@media (max-width: 1300px) {
    .flights_list-grid{
        grid-template-columns: 1fr;
        width: initial;
        row-gap: 3rem;
    }
}

@media (max-width: 1200px) {
    .flights_list-content{
        padding: 0rem;
    }
}