//------------------------------------------
//                Colors                   |
//------------------------------------------

$black : #1A1A1A;
$lt-black : #383838;
$white: #FFFFFF;

$grey: #A5A9B1;
$lt-grey: #E5E5E5;
$lt-grey-1: #C4C4C4;

$blue: #2036fb;
$dr-blue: #0f175c;
$lt-blue: #cbcffb;

$green: #024236;
$lt-green: #3fb6a2;

$red: #ED1944;


//------------------------------------------
//                Fonts                    |
//------------------------------------------

$showcase-heading: 2rem;

$section-heading: 1.5rem;
$section-sub-heading: 1.25rem;

$heading: 1.25rem;
$heading-md: 1.12rem;
$heading-sm: 1rem;

$sub-heading: 0.875rem;

$content: 1rem;
$content-sm: 0.875rem;